* {
    margin: 0;
    padding: 0;
}

body {
    color: blueviolet;
    font-family: "Raleway-Regular", sans-serif;

    .background-video {
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
}

.main__titulo {
    text-align: center;
    margin-top: 30vh;
    margin-bottom: 0vh;
    padding: 0;
}

.main__subtitulo {
    color: rgb(236, 53, 242);
    font-family: "Raleway-Regular", sans-serif;
    text-align: center;
    margin-top: 0px;
    text-transform: uppercase;
    margin-bottom: 20vh;
    font-size: 3rem;
    letter-spacing: 6px;
    text-shadow: -1px -1px 0px white,
        1px -1px 0px white,
        -1px 1px 0px white,
        1px 1px 0px white
}

.header__menu {
    position: fixed;
    top: 0px;
    background-color: violet;
    text-align: end;
    width: 100%;
    display: flex;
}

.header__categoria {
    font-family: "Raleway-Regular", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    background-color: rgb(224, 31, 224);
}

a:active {
    background-color: blueviolet;
    color: yellow;
}

footer {
    text-align: center;
    background-color: violet;
    margin-bottom: 0px;
}

.footer__copyright {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 15px;
}

.footer__redes-sociales {
    text-align: center;
    display: inline-block;
    width: 30px;
    padding-bottom: 10px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/*Inicio en Tablet*/
@media only screen and (max-width: 768px) {
    body {
        background-color: white;

        .background-video {
            width: 0;
            height: 0;
        }
    }

    .header__menu {
        width: 100vh;
        text-align: center;
    }

    .header__categoria {
        font-family: "Raleway-Regular", sans-serif;
        text-transform: uppercase;
        display: inline-block;
        margin: 0px;
        font-size: 20px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    a {
        padding: 10px;
    }

    footer {
        height: 15vh;
    }
}

/*Inicio en movil*/
@media only screen and (max-width:320px) {
    .main__titulo {
        margin-top: 50vh;
    }

    .main__subtitulo {
        margin-bottom: 0;
        font-size: 2rem;
        width: 100vh;
    }

    .header__menu {
        width: 100vh;
    }

    .header__categoria {
        text-align: center;
        margin: 0px;
        font-size: 13px;
    }

    a {
        color: white;
        text-decoration: none;
        padding: 15px;
    }

    footer {
        width: 100vh;
        margin-top: 60vh;
        height: 200px;
    }
}

/*Las siguientes paginas*/
.logo {
    width: 300px;
    height: 130px;
    padding-left: 20px;
}

.header__menu__otros {
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header__categoria__otros {
    font-family: "Raleway-Regular", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    font-size: 20px;
}

.a__otros {
    color: violet;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

.a__otros:hover {
    background-color: rgb(212, 212, 212);
}

.footer__otros {
    text-align: center;
    background-color: white;
    margin-top: 50px;
}

main {
    margin-top: 200px;
}

.img__artistas {
    width: 400px;
    height: 200px;
}

.div__artistas {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.resumen {
    background-color: rgba(255, 255, 255, 0.763);
}

.productos {
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-columns: 1fr, 1fr;
    gap: 10px;
    grid-template-areas: "foto1 foto2 foto3"
        " foto4 foto5 foto6";
}

.producto {
    background-color: violet;
    border-radius: 20px;
    width: 400px;
    height: 700px;
    border: 10px;
    margin-left: 30px;
}

.img__producto {
    width: 370px;
    height: 600px;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
    justify-content: center;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.detalles {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.precio {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ff00ff;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.comprar {
    background-color: aliceblue;
    color: #ff00ff;
    border-color: aliceblue;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
}

.mapa {
    margin-left: 100px;
    margin-right: 100px;
}

.email {
    width: 500px;
    margin-left: 10px;
}

.descripcion {
    margin-left: 10px;
}

.comentario {
    width: 1500px;
    margin-left: 10px;
    margin-bottom: 122px;
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 0;
        height: 0;
    }

    .header__menu__otros {
        background-color: #ff00ff;
        margin: 0;
        padding: 0;
        width: 100vh;
        justify-content: center;
    }

    .a__otros {
        color: white;
        padding: 5px;
        margin: 40px;
        border: 0;
    }

    .a__otros:hover {
        background-color: violet;
    }

    .footer__otros {
        text-align: center;
        background-color: #ff00ff;
        margin-top: 50px;
        width: 100vh;
        height: 25vh;
    }
}
@media only screen and (max-width:320px) {
    .header__menu__otros {
        width: 100vh;
        margin: 0;
    }
    .a_otros{
        margin: 0px;
        font-size: 5px;
    }
}